<nav class="navbar navbar-expand-sm  fixed-to justify-content-between" style="background-color:#C1CDC1;">
  <ul class="navbar-nav" style="list-style-type: none; float: left;">
    <li class="navbar-brand">
      <span class="nav-link">
        <%= link_to 'Dashbord', super_admins_path %>
      </span>
    </li>
    <li class="navbar-brand">
      <span class="nav-link">
        <%= link_to 'display all technology', technologies_path %>
      </span>
    </li>
    <li class="navbar-brand">
      <span class="nav-link">
        <%= link_to 'add new technology', new_technology_path %>
      </span>
    </li>
  </ul>
  <ul class="navbar-nav" style="list-style-type: none; float: right;">
    <li class="navbar-brand">
      <span class="nav-link">
        <%= link_to "Edit profile", edit_user_registration_path %>
      </span>
    </li>
    <li class="navbar-brand">
      <span class="nav-link">
        <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
      </span>
    </li>
  </ul>
</nav>
