<% if company_approved? %>
<div class="main-content">
  <div class="section__content section__content--p30">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <% if company_subscribed? or remaining_days_more_than_zero?(@remaining_days) %>
            <% unless company_subscribed? %>
            <div class="background-color-red font-color-white bold-font text-align-center">Your trial expires in
              <%= @remaining_days %> days
            </div>
            <%= link_to 'Pay Now', new_company_charge_path(current_company) ,class: "btn btn-outline-success" %>
            <% end %>
            <br />
            <% else %>
            <center>
              <h2>Your trial period Expired!</h2>
              <h5 style="message">(You can activate your account <a style="color: green"
                  href="/companies/<%= current_company.id %>/charges/new">here</a>)</h5>
            </center>
          <% end %>
        </div>
      </div>
      <div class="row-padding">
        <div class="col-lg-6">
          Hello <%= current_company.name %><br />
        </div>
      </div>
    </div>
  </div>
</div>
<% else %>
<%= link_to 'Logout', destroy_company_session_path, method: :delete %><br />
<center>
  <h2>Your request has been successfully sent to the admin!</h2>
  <h5 style="color: green">(Once request has been approved you can use your account)</h5>
</center>
<% end %>
