<% # <% binding.pry %>
<% if !@jobs.blank? %>
  <% @jobs.each do |job| %>
    <tr>
      <td title ="Job Role"><%= job.job_role %></td>
      <td title ="Technology"><%= job.technology.technology_name %></td>
      <td title ="Experience"><%= job.experience %></td>
      <td title ="CGPA"><%= job.cgpa %></td>
      <td><%= link_to "Edit",  edit_company_opening_job_path(current_company,job), class: "genric-btn info-border radius medium fa fa-pencil-square-o", title: "Edit post" %></td>
      <td><%= link_to "Delete", company_opening_job_path(current_company,job), method: :delete, data: { confirm: "Are you sure?" }, class: "genric-btn danger-border radius medium fa fa-trash", title: "Delete Job post" %></td>
    </tr>
  <% end %>
<% else %>
  <span style="color: red; font-weight: bold">***Data not available</span>
<% end %>
