<% # <% binding.pry %>
<% if @jobs.present? %>
  <% @jobs.each do |job| %>
    <tr>
      <td title ="Comapany details"><%= link_to job.company.name, company_path(job.company) %></td>
      <td title ="Job Role"><%= job.job_role %></td>
      <td title ="Technology"><%= job.technology.technology_name %></td>
      <td title ="Experience"><%= job.experience %></td>
      <td title ="CGPA"><%= job.cgpa %></td>
      <td><%= link_to "Open", user_opening_job_path(current_user, job) %></td>
      <td><%= "yes" if applied?(job) %></td>
    </tr>
  <% end %>
<% else %>
  <span style="color: red; font-weight: bold">***Data not available</span>
<% end %>
