<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="well">
        <%= form_with model: @new_resume, url: resumes_path, local: true do |f| %>

        <div class="form-group">
          <%= f.label :Resume_Name %>
          <%= f.text_field :resume_name %>
        </div>

        <div class="form-group">
          <%= f.label :Resume %>
          <%= f.file_field :file %>
        </div>

        <div class="form-group">
          <%= f.submit "Save", class: "btn btn-primary" %>
        </div>
        
        <% end %>
      </div>
    </div>
  </div>
</div>
