<% if @subscriptions.present? %>
  <% @subscriptions.each do |subscription| %>
    <% if subscription.company.approved? %>
    <tr>
      <td title="Company details">
        <%= image_tag subscription.company.avatar.url, 
        class: "circleBase "+ (subscription.company.approved ? "type2g": "type2r") %>
        &nbsp;<%= link_to subscription.company.name, company_path(subscription.company), style: "color:black;" %>
      </td>
      <td title ="Subscribed? "><%= subscribed(subscription) %></td>
      <td title="Days to complete trial"><%= days_left(subscription) %></td>
      <td title ="Subscription date"><%= subscription&.subscription_date %></td>
      <td title ="Un Approve"><%= link_to 'Un Approve', companies_approve_company_super_admin_path(subscription.company), class: "message btn btn-outline-danger btn-sm fa fa-thumbs-down", remote: true %></td>
    </tr>
    <% end %>
  <% end %>
<% else %>
  <span class="alert">***Data not available</span>
<% end %>
