<!DOCTYPE html>
<html>
<head>
  <title>CareerDoor</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <center>
    <div style="background-color: green;">
      <span class="text-center" style="color: white; font-weight: bold; background-color: green;"><%= notice %></span>
    </div>
    <div style="background-color: red;">
      <span class="text-center" style="color: white; font-weight: bold"><%= alert %></span>
    </div>
  </center>

  <% if current_user&.has_role? :user %>
  <%= render 'home/nav' %>
  <%elsif current_user&.has_role? :super_admin %>
  <%= render 'super_admins/nav' %>
  <% end %>

  <%= yield %>
</body>
</html>
