<!DOCTYPE html>
<html>
  <head>
    <title>CareerDoor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body >
    <center >
    <%= render 'layouts/alerts' %>
    </center>

    <% if current_user&.has_role? :user %>
      <%= render 'layouts/user_header' %>
    <%elsif current_user&.has_role? :super_admin %>
      <%= render 'layouts/admin_header' %>
    <%elsif current_company&.has_role? :company %>
      <%= render 'layouts/company_header' %>
    <% end %>

    <%= yield %>
  </body>

</html>
